<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Capitalize Titles</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
</head>

<body>
    <header class="cap-header">
        <h1 class="cap-heading">Capitalize Titles <svg style="height: 100px; width: 100px; vertical-align: bottom;"
                viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #d2423f;
                        }

                        .cls-2 {
                            fill: #dd6966;
                        }

                        .cls-3 {
                            fill: #ba3b38;
                        }

                        .cls-4 {
                            fill: #333;
                        }

                        .cls-5 {
                            fill: #efd3b6;
                        }

                        .cls-6 {
                            fill: #f7e9da;
                        }

                        .cls-7 {
                            fill: #e8bc91;
                        }

                        .cls-8 {
                            fill: #e0a66d;
                        }
                    </style>
                </defs>
                <title />
                <g data-name="08 Text Book" id="_08_Text_Book">
                    <rect class="cls-1" height="68.29" rx="4.27" ry="4.27" width="96" x="16" y="29.86" />
                    <path class="cls-2"
                        d="M16.94,35.06a4.27,4.27,0,0,1,4.27-4.27c94.46,0,88.33-.37,90,.83-1.84-2.52,3.48-1.76-90.91-1.76A4.27,4.27,0,0,0,16,34.12c0,64.56-.71,61.39,1.76,63.19C16.58,95.7,16.94,99.9,16.94,35.06Z" />
                    <path class="cls-3"
                        d="M107.73,29.86h-3A4.27,4.27,0,0,1,109,34.12V91.84a4.27,4.27,0,0,1-4.27,4.27H20.13A4.26,4.26,0,0,1,16,92.88v1a4.27,4.27,0,0,0,4.27,4.27h87.46A4.27,4.27,0,0,0,112,93.88V34.12A4.27,4.27,0,0,0,107.73,29.86Z" />
                    <rect class="cls-4" height="68.29" width="3.2" x="62.43" y="29.86" />
                    <rect class="cls-4" height="2.03" width="3.2" x="62.43" y="96.11" />
                    <rect class="cls-5" height="87.46" rx="2.13" ry="2.13" transform="translate(128) rotate(90)"
                        width="59.75" x="34.12" y="20.27" />
                    <path class="cls-6"
                        d="M21,37a2.13,2.13,0,0,1,2.13-2.13c89,0,83.48-.17,84.27.3-.91-1.54,4.67-1.06-85-1.06a2.13,2.13,0,0,0-2.13,2.13c0,59.82-.46,56.42,1.06,57.32C20.85,92.78,21,96.15,21,37Z" />
                    <path class="cls-7"
                        d="M105.6,34.12H64V93.88H105.6a2.13,2.13,0,0,0,2.13-2.13V36.26A2.13,2.13,0,0,0,105.6,34.12Z" />
                    <path class="cls-5"
                        d="M107.43,35.18c-.91-1.54,2.16-1.06-43.4-1.06v.76C109.46,34.88,106.63,34.71,107.43,35.18Z" />
                    <path class="cls-4" d="M55.56,60.81h-28a2,2,0,0,1,0-4h28A2,2,0,0,1,55.56,60.81Z" />
                    <path class="cls-4" d="M55.56,81.56h-28a2,2,0,0,1,0-4h28A2,2,0,0,1,55.56,81.56Z" />
                    <path class="cls-4" d="M55.56,71.19h-28a2,2,0,0,1,0-4h28A2,2,0,0,1,55.56,71.19Z" />
                    <path class="cls-4" d="M55.56,50.44h-28a2,2,0,0,1,0-4h28A2,2,0,0,1,55.56,50.44Z" />
                    <path class="cls-4" d="M99.86,60.81h-28a2,2,0,0,1,0-4h28A2,2,0,0,1,99.86,60.81Z" />
                    <path class="cls-4" d="M99.86,81.56h-28a2,2,0,0,1,0-4h28A2,2,0,0,1,99.86,81.56Z" />
                    <path class="cls-4" d="M99.86,71.19h-28a2,2,0,0,1,0-4h28A2,2,0,0,1,99.86,71.19Z" />
                    <path class="cls-4" d="M99.86,50.44h-28a2,2,0,0,1,0-4h28A2,2,0,0,1,99.86,50.44Z" />
                    <path class="cls-8"
                        d="M105.6,34.12l-2.66,0a2.06,2.06,0,0,1,2.09,2V89.1a2.06,2.06,0,0,1-2.09,2L64,92.05v1.82H105.6a2.13,2.13,0,0,0,2.13-2.13V36.26A2.13,2.13,0,0,0,105.6,34.12Z" />
                    <path class="cls-7" d="M64,93.88V92.05C7.51,94.46,9.54,93.88,64,93.88Z" />
                </g>
            </svg></h1>
    </header>

    <aside class="book-cover">

    </aside>

    <main class="container">


        <section class="cap-input-container">
            <fieldset>

                <div class="style-select">
                    <div class="cap-text-header">

                        <div class="number-right">
                            <% if (titleNumber > 1) { %> Titles Converted: <%= titleNumber %>
                            <% } else if (titleNumber === 1) { %>
                            Title Converted: <%= titleNumber %> <% } else {%><% } %>
                        </div>
                    </div>
                    <section aria-label="results">

                        <% newTitle.forEach( function(item, ind) { %>
                        <p class="cap-result">
                            <%= item %>
                        </p>

                        <%                        }) %>
                    </section>
                    <div class="button-box">
                        <button id="copy-button" class="cap-button">Copy</button>
                        <button id="clear-button" class="cap-button">Clear</button>



                    </div>
                    </form>
            </fieldset>
    </main>

    <aside class="container explainer-container">
        <h2>Style Rules</h2>
        <article class="explainer">
            <div class="style-rules ap">
                <h3>Associated Press</h3>
                <ul>

                    <li>Because length matters, uppercase words with three or more letters.</li>
                    <li>Some parts of speech (nouns, pronouns, adjectives, verbs, adverbs, and subordinate conjunctions)
                        are just better than others. Uppercase them.</li>
                    <li>Other parts of speech (articles, coordinating conjunctions, and prepositions) are just lesser
                        than. Lowercase them.</li>
                    <li>Whenever "to" is part of something bigger than itself, i.e., an infinitive (like "to fart"),
                        keep it lowercase.</li>
                    <li>To break these rules is tantamount to pedophilia.</li>
                </ul>
            </div>
            <div class="style-rules apa">
                <h3>American Psychological Association</h3>
                <ul>
                    <li>The first word in a sentence, so smug, is capitalized, as is any of the family members, i.e.,
                        subtitles.</li>
                    <li>All words that have complained to the manager are uppercase (nouns, verbs, adjectives, and
                        pronouns).</li>
                    <li>Hyphens are like word swords, so capitalize the adjoining words because they're already
                        suffering from being stabbed.</li>
                    <li>Words of four letters or more can quickly become unruly. Elect a head by capitalizing the first
                        letter.</li>
                </ul>
            </div>
            <div class="style-rules cms">
                <h3>Chicago Manual of Style (17<sup>th</sup> edition)</h3>
                <ul>
                    <li>Begging to be seen, the first word in a sentence must always be capitalized. Lest the last word
                        feel worse about itself, capitalize it, too. To spare the feelings of the the more
                        self-conscious words (like nouns, pronouns, verbs, adjectives, adverbs, and some
                        conjunctions), uppercase them as well.</li>
                    <li>Articles (the, a, an) are the proletariat of prose: they do all work, but recieve little reward.
                        Keep them lowercase.</li>
                    <li>Because length doesn't matter, lowercase prepositions, except when they being extra, acting
                        adverbially or adjectivally, or they're acting hoity toity as part of a Latin expression used
                        adjectivally or adverbially.</li>
                    <li>Again, spite the commoners, and lowercase the common coordinating conjunctions (and, but, for,
                        or, and nor).</li>
                    <li>Here's something you need <em> to do</em>: lowercase "to" when it appears as part of an
                        infinitive. "As" has done horrible things and should always be lowercase.</li>
                    <li>Lowercase any part of a proper name that is usually lowercase, like "von" in von Trapp.</li>
                    <li>Lowercase the second part of a species name, such as <em>pudica</em> in <em>Mimosa pudica</em>.
                        No exceptions!</li>
                </ul>
            </div>
            <div class="style-rules mla">
                <h3>Modern Language Association</h3>
                <ul>
                    <li>The first word of a title is like the winner of a race. Crown it with capitalization.</li>
                    <li>Uppercase the words society thinks are important (nouns, verbs, adverbs, and pronouns). Fuck
                        those preposition pieces of shit.</li>
                    <li>Don't forget to hyphenate your children. No, wait, that's vaccinate your children, and while
                        you're at it, uppercase all major hyphenated words.</li>
                    <li>Any words of forty letters or more, capitalize. JK. It's just four letters.</li>
                </ul>
            </div>

            <div class="style-rules nyt">
                <h3>New York Times</h3>
                <ul>

                </ul>
            </div>

            <div class="style-rules wp">
                <h3>Wikipedia</h3>
                <ul>

                </ul>
            </div>
        </article>
    </aside>

    <!-- Load copy to clipboard srcript -->
    <script src="/js/main.js"></script>
</body>


</html>