body {
    margin: 0;
    padding: 0;

    background:#eee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;

}

.cap-header {
    padding: 2em;

    background: linear-gradient(#0033FF,  #0024B3);
    border-bottom: 5px solid #FFBD00;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    
    
}

.cap-heading {
    margin: 0;
    
    color: #fff;
    font-family: Righteous;
    font-size: 4em;
    text-align: center;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin: 0 auto;
    max-width: 1040px;
    padding: 2em 4vw;


}
.cap-text-header {
    display: flex;
    margin-bottom: 5px;
    width: 100%;

    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.select-left {
    margin-left: 5px;
}
.number-right {
    margin-left: auto;
    margin-right: 5px;
}
.cap-input-container {
    display: flex;
    flex-flow: column;
    /* margin: 2.5%; */
    flex: 1 1 auto;

    border: none;
    box-shadow: none;
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
}

textarea {
    box-shadow: none;
    border: none;
    outline: none;
    -moz-appearance: none;
    user-select: none;

}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.cap-form {
    display: flex;
    flex-flow: column;
}

 /* Text Input  */
.cap-input {
    min-height: 250px;
    padding: 1em;
    width: calc(100% - 2em);

    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    line-height: 1.6;
    /* outline: none; */
    overflow: auto;
    resize: none;
    text-align: left;

}

input:focus {
    outline: none;
}

.cap-button {
    align-self: flex-end;

    padding: 3px 5px;
    width: -moz-fit-content;

    background: #0033FF;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;

}

.cap-button:hover {
    background: #0024b3;
    transition: .1s;
}

.cap-button:last-child {
    margin-left: 5px;
}


.button-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

/* Style Rules  */
.explainer {
    flex-flow: column;
    text-align: center;
}

.explainer h2 {
    width: 100%;
    
    background: #0033FF;
    border-radius: 5px;
    color: #eee;
    font-size: 2.5em;

}
.apa,
.mla {
    display: none;
}

.style-rules {
    text-align: left;
    align-self: flex-start;
}