body {
    margin: 0;
    padding: 0;

    background:#eee;
    line-height: 1.6;
}

.cap-header {
    padding: 2em;

    background: linear-gradient(#0033FF,  #0024B3);
    border-bottom: 5px solid #FFBD00;
    box-shadow: 0 1px 1px rgba(0,0,0,.25);
    
    
}

.cap-heading {
    margin: 0;
    
    color: #fff;
    font-family: Righteous;
    font-size: 4em;
    text-align: center;
}

.container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    padding: 2em 4em;


}
.cap-text-header {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.input-left,
.result-right {
    display: flex;
    flex-flow: column;
    margin: 2.5%;
    width: 45%;

    border: none;
    box-shadow: none;
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
}

textarea {
    box-shadow: none;
    border: none;
    outline: none;
    -moz-appearance: none;
    user-select: none;

}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.cap-form {
    display: flex;
    flex-flow: column;
}

.cap-input,
.cap-result {
    min-height: 250px;
    padding: 1em;

    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    line-height: 1.6;
    /* outline: none; */
    overflow: auto;
    resize: none;

}

input:focus {
    outline: none;
}

.cap-button {
    align-self: flex-end;
    margin-top: 10px;

    padding: 3px 5px;
    width: -moz-fit-content;

    background: #0033FF;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;

}

.cap-button:hover {
    background: #0024b3;
    transition: .1s;
}