// @import "../../node_modules/normalize.css/normalize.css"

cap-red = #FE4949
cap-green = #3BDE41
cap-border = #707070
cap-white = #F9F7F7
cap-gray = #3D3D3D
cap-dark-gray = #333333
cap-darker-gray = #313030
cap-border-radius = 6px

tablet = 768px
laptop = 992px
desktop = 1200px

.m-0
    margin: 0

.container
    max-width 1040px
    margin 0 auto

.flex-row
    display: flex
    flex-flow: row wrap

.flex-col
    display: flex
    flex-direction: column

.flex-100
    width: 100%


    